<ol>
        {% for url in shortened_list %}
            <li>
                <a href="http://{{ request.META.HTTP_HOST }}/r/{{ url.shortened_uri }}">
                    http://{{ request.META.HTTP_HOST }}/{{ url.shortened_uri }}
                </a>
                <span>Hits: {{ url.hits }}</span>
                <span>Creation Date: {{ url.creation_date }} </span>
                <span>
                    <a href="http://{{ request.META.HTTP_HOST }}/i/{{ url.shortened_uri }}">
                        Link Info
                    </a>
                </span>
                <span>
                    <a href="http://{{ request.META.HTTP_HOST }}/d/{{ url.shortened_uri }}">
                        Delete Redirector
                    </a>
                </span>
            </li>
        {% endfor %}
</ol>

<span>                    
    <a href="http://{{ request.META.HTTP_HOST }}/">
        To Index
    </a>
</span>

{% if is_paginated %}
<ul class="pagination">
  {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in paginator.page_range %}
    {% if page_obj.number == i %}
      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}